@model PecaDica.App.ProdutoServ.Produto

@{
    ViewBag.Title = "Novo";
}

<h2>Novo</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Produto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <div class="editor-label">
            Categoria
        </div>
        <div class="editor-field">
            @Html.DropDownList("Categorias")            
        </div>
        <div class="editor-label">
            Modelo
        </div>
        <div class="editor-field">
            @Html.DropDownList("Modelos")            
        </div>
        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>