@model PecaDica.App.Models.ListaItemViewModel<PecaDica.App.Models.ProdutoModel>

@{
    Layout = null;
}
@{ Html.RenderPartial("Menu");}

@using (Html.BeginForm())
{
<h2>Produtos</h2>
<fieldset>
<legend>Filtros </legend>
 <table>
    <tr>
    <td>
 <div class="editor-label">
    Marca
 </div>
 </td>
 <td>
 <div class="editor-field">
    @Html.DropDownList("Marcas")
 </div>
 </td>
 <td>
 <p>
<input type="submit" value="Carregar Modelos"  />
</p>

 </td>
 </tr>
 <tr>
 <td>
 <div class="editor-label">
    Modelo
 </div>
 </td>
 <td>
 <div class="editor-field">
    @Html.DropDownList("Modelos")
 </div>
 </td>
 </tr>
 <tr>
 <td>
  <input id="btnFiltrar" type="submit" value="Filtrar" />  
 </td>
 </tr>
 </table>
</fieldset>
   <div>
           @Html.PaginasLinks(Model.InformacaoDePaginacao, x => Url.Action("Index", new { pagina = x, Items = Model.Items }))
   </div>
    <table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Nome)
        </th> 
        
        <th>
          Categoria
        </th> 
        
        <th>
            Modelo
        </th>       
    </tr>

@foreach (var item in Model.Items)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>               
        <td> 
            @Html.DisplayFor(modelItem => item.CategoriaName)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloName)
        </td>
    </tr>
}
</table>
}